
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<form action="Checkout/Charge" method="POST">
    <article>
        <label>Amount: $@ViewBag.Total</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="pk_test_19AURg22luvozWqAuOChS8uC"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount=@ViewBag.Total>
    </script>
</form>